@model IEnumerable<FahrzeugListe.Models.Auto>


@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fahrzeug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kennzeichen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Standort)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fahrzeug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kennzeichen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Standort)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>